@{
    if (Session["LogAdminAccess"].ToString() == "Admin") //Admin Access Only
    {

        <div id="right-panel" class="right-panel" style="overflow-x:hidden">
            <div id="main-header" class="breadcrumbs">
                <div class="col-sm-8">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="page-header">
                        <span id="maxx-txt-logo" class="maxxtextlogo pull-left hide" style="display:none;"></span>
                        <div id="dashboard-title" class="page-title">
                            @if (Session["LogUserFullName"] != null)
                            {
                                <span class="PayrollDash-Txt">Admin Dashboard  </span><span class="Hello-Txt"><span style="color:black">></span>  Hello, @Session["LogUserFullName"].ToString()</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li id="dateandtime" class="active dtl_number"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content mt-3">

                <div class="row">
                    <div class="col-xl-12">


                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="col-lg-6" style="padding-top: 3%; padding-left:0px;"><strong class="card-title">Reset Load Status</strong></div>
                                    <div class="col-lg-4">

                                    </div>

                                </div>
                                <div id="alert-load-status-reset" class="alert  alert-success alert-dismissible fade show hide" style="margin: 2%;" role="alert">
                                    <span class="badge badge-pill badge-success">Status Reset</span> <span id="load-reset-message"></span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="row padding-sm">



                                    <div class="col-xl-6">
                                        <div class="col-md-12  padding-top-sm no-pad-sides">
                                            <input onkeyup="enableReset()" class="form-control dtl_number text-box single-line" id="reset-Load-Number-TB" type="text" style="height: 60px;" value="" placeholder="Enter Load Number">
                                        </div>

                                    </div>

                                    <div class="col-xl-5 no-pad-horizontal">
                                        <div class="col-md-12 padding-top-sm">
                                            <select class="cs-select cs-skin-border admin-resetStatus-dd">
                                                <option value="ResetDelivered" class="reset-delivered-btn">Reset Delivered Status</option>
                                                <option value="ResetPaid" class="reset-paid-btn">Reset Paid Status</option>
                                                <option value="ResetAll" class="reset-all-btn">Reset All Status</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12 padding-top-sm padding-top-sm padding-bottom-lg">
                                            <button id="reset-status-btn" class="btn btn-disabled btn-block btn-huge" disabled>Reset Status</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 no-pad-horizontal">

                        </div>



                    </div>
                </div>
            </div> <!-- .content -->
        </div><!-- /#right-panel -->

        <script type="text/javascript">

            function enableReset() {
                var button = document.getElementById("reset-status-btn");
                var loadNbr_TB = document.getElementById("reset-Load-Number-TB").value;

                if (loadNbr_TB != '') {
                    button.classList.add('btn-reset-status');
                    button.classList.remove('btn-disabled');
                    button.removeAttribute("disabled");
                } else {
                    button.classList.remove('btn-reset-status');
                    button.classList.add('btn-disabled');
                    button.disabled = true;
                }
            }

        </script>

    }
    else
    {
        <div id="right-panel" class="right-panel" style="overflow-x:hidden">
            <div id="alert-no-access" class="alert  alert-danger alert-dismissible fade show" style="margin: 2%;" role="alert">
                <span class="badge badge-pill badge-danger">Unauthorized</span> You do not have access to view this page, contact web administrator to gain access.
            </div>
        </div>
    }
}
