@{
    ViewBag.Title = "Maxx Express Trucking - Here to Move You Forward";
    ViewBag.Keywords = "Charlotte Trucking Company, Greensboro Trucking Company, Raleigh Trucking Company, Charlotte LTL, Charlotte Reefer, Charlotte Dry Van, Charlotte freight";
    ViewBag.Description = "Maxx Express is a privately owned trucking and logistics company strategically based in the Charlotte, North Carolina area. We specialize in Dry Van and Reefer freight.";
 }
<nav class="pushy pushy-left">
    <ul class="list-unstyled">
        <li><a href="#home">Home</a></li>
        <li><a href="#feat">Services</a></li>
        <li><a href="#about">Our Success</a></li>
        <li><a href="#news">Drive for Maxx Express</a></li>
        <li><a href="#history">Customer Portal</a></li>
        <li><a href="#contact">Contact Us/ Quote</a></li>
        <li><a href="/portal/login">Portal Login</a></li>
    </ul>
</nav>
<!-- Site Overlay -->
<div class="site-overlay"></div>
<header id="home">
    <div class="container-fluid">
        <!--[approximately row 50] -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-10">
                    <span class="logo-web"></span>
                </div>
                <div class="col-md-1 col-md-offset-8 col-xs-2 text-center ham-mobile">
                    <div class="menu-btn "><span class="hamburger"><i class="fa fa-bars"></i></span></div>
                </div>
            </div>
            <div class="jumbotron">
                <h1>
                    <small>How can we help</small><br>
                    <strong>Move You Forward</strong>
                </h1>  
            </div>
        </div>
    </div>
</header>
<section id="feat">
    <div class="container">
        <div class="row features">
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="100ms">
                <span class="typcn typcn-arrow-loop x3"></span>
                <h4>Dedicated Runs</h4>
                <p class="text-left">No need to worry about Tractor/Trailer maintenace, operating costs, ELD compliance, costly licensing and operating permits, Maxx Express can get your cargo from point A to B.</p>
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="300ms">
                <span class="typcn typcn-weather-snow x3"></span>
                <h4>Reefer or Dry Van</h4>
                <p class="text-left">Refrigerated cargo requires in-depth knowledge about temperature control in reefers, you can trust Maxx Express for all your reefer or dry van needs.</p>
            </div>
            <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="500ms">
                <span class="typcn typcn-adjust-contrast x3"></span>
                <h4>Regional LTL</h4>
                <p class="text-left">Maxx Express has a great one, two and three day direct delivery, this enables you to leverage the power of just-in-time distribution and gives you a solid competitive edge.</p>
            </div>
        </div>
    </div>
</section>
<section id="company-history">
    <div class="container company-history">
        <div class="row">
            <div class="col-md-12 text-center wow fadeInUp" data-wow-delay="100ms"><h2>About Us</h2></div>
            <div class="col-md-12 text-center wow fadeInUp" data-wow-delay="100ms">
                <p>
                    Maxx Express is a privately owned carrier and logistics company strategically based in the Charlotte, North Carolina
                    area. Being located in the Mid-Atlantic allows Maxx Express the ability to easily reach major distribution hubs in the
                    Northeast as well as southern hubs in South Florida and everywhere in between. In addition to trucking and logistics
                    Maxx Express' company founders have experience in many other industries from retail to technology, we bring that wide
                    breadth of knowledge into making Maxx Express a leader amongst our small fleet competitors. In a growing industry we
                    strive to maintain our high standards of service and provide our shippers with top tier customer service and on-time
                    delivery.
                </p>
            </div>

        </div>
    </div>
</section>
<section id="about" class="number wow fadeInUp" data-wow-delay="300ms">
    <!--[approximately row 102] -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 opaline col-md-offset-6">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <h3>We are all about results</h3>
                            <h5>Excelling in the age of ELD</h5>
                            <p>
                            Maintaining a stellar on-time delivery record in the age of ELD (Electronic Logging Device) enforcement 
                            can prove to be challenging, Maxx Express continue to perform well under the mandate through increased 
                            efficiencies with scheduling, document processing and enhanced communication with our drivers and customers
                            </p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <!-- assets/js/scripts.js  -->
                        <div class="col-md-4 boxes col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-1 col-md-offset-1 col-sm-6 wow fadeInUp">
                            <h5>Destinations</h5>
                            <h3 class='numscroller' data-min='1' data-max='145' data-delay='5' data-increment='3'>278</h3>
                        </div>
                        <div class="col-md-4 boxes col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-2 col-md-offset-2 col-sm-6 wow fadeInUp" data-wow-delay="300ms">
                            <h5>Miles</h5>
                            <h3 class='numscroller' data-min='0' data-max='512702' data-delay='22' data-increment='2083'>512,702</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="news" class="blog wow fadeInUp" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>Interested in driving for Maxx Express?</h2>
                <p>We offer great pay through competitive rates, bonus structures, Paid-Time-Off and more!!</p>
                <p>
                We treat our drivers with respect because our drivers are not just a number like in some of the larger companies.
                We value work-life balance and understand that a happy driver is a more productive and safer driver.
                We employ both experienced drivers and well trained drivers with less than 2 years’ experience.
                </p>
                <p><b>Available positions (2):</b> <br />
                  North Carolina - North Carolina Based CLASS A - CDL Driver <br>
                </p>
                <button class="btn btn-danger btn-lg apply-now-btn"  style="margin-bottom:6%;">Apply Now <i class="fa fa-arrow-circle-o-right"></i> </button>
            </div>
            <div class="col-md-5 drive-for-maxx">
                    <img src="~/images/bg-drive.jpg" alt="" class="img-responsive"/>             
            </div>
        </div>
    </div>
</section>
<section id="history" class="story wow fadeInUp" data-wow-delay="300ms">
    <!--[approximately row 141] -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 opaline">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p class="lead"><i>Coming Soon...</i></p>
                            <p class="lead"><h3>Our New Customer Portal</h3></p>
                            <p><i>We’re pleased to announce that we will soon be releasing our new Customer Portal.
                                Built using the latest mobile technology, our customer portal looks great on any size screen! 
                                Automatically adjusts for phones, tablet and computer screens so you can get the best viewing experience.
                            </i></p>
                            <h6 class="lead">Features will include:</h6>
                            <p>
                                <small>
                                    - Delivery Notifications <br>
                                    - Pending Loads Dashboard <br>
                                    - Invoice tracking <br>
                                    - Maxx Express Pricing Alerts and more... <br>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="prefooter wow fadeInUp" data-wow-delay="300ms">
<!--[approximately row 154] -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Contact Maxx Express</h3>
                    <p>We would love to hear from you, for general questions or information on freight quotes  please fill out the 
                    short form below and a representative will be in touch with you as soon as possible.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <form name="contactForm" class="webcontactform" method="post" action="https://maxx-express.com/maxxdata/Contact">
                                <div class="row">
                                    <div class="form_error_box_contact hide"></div>
                                </div>
                                <label for="exampleInputMessage1" style="color:#ccc;">Your Contact Info</label>
                                <input id="contact-NameTB" name="contact-NameTB" type="text" class="form-control" placeholder="Your Name Here...">
                                <input id="contact-PhoneTB" name="contact-PhoneTB" type="tel" class="form-control" placeholder="Your Contact Number Here...">
                                <input id="contact-EmailTB" name="contact-EmailTB" type="email" class="form-control" placeholder="Your Email Here...">
                                <div class="form-group">
                                    <label for="exampleInputMessage1" style="color:#ccc;">Message</label>
                                    <textarea id="contact-message" name="contact-messagetb" class="form-control" rows="8"></textarea>
                                </div>
                                <div id="form-SecurityTB" class="form-group ">
                                    <input type="text" class="form-control" id="cform-security" name="contact-securityTB" aria-describedby=" inputerror2status" placeholder="Are You a Robot, 2 + ? = 4" style="width: 70%;">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-danger">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer-wrapper">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3>&nbsp;</h3>
                <p class="text-center" style="color: #808080;">© 2018 Maxx Express, LLC. Designed and Developed by <a target="_blank" href="http://www.axxioweb.com">Axxioweb.com</a></p>
            </div>
            <div class="col-md-3">
                <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
            </div>
        </div>
    </div>
</footer>
<div class="modal fade" id="driverAppModal" tabindex="-1" role="dialog" aria-labelledby="driverAppLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close custom-close"></i></button>
                <h2 class="modal-title text-center" id="myModalLabel">Tell Us About Yourself</h2>
            </div>
            <div class="modal-body"> 
                <p style="padding-bottom: 3%;">Thanks for your interest in driving for Maxx Express we will gather some preliminary information now and a manager will be
                in contact with you.</p>
                <form id="driverappform" class="driverappform" name="driverApp" >
                    <div class="row">
                        <div class="form_error_box hide"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><label for="exampleInputMessage1" style="color:#808080;">Your Contact Info</label></div>
                        <div class="col-md-6"><input id="driverapp-FirstTB" name="driverapp-FirstTB" type="text" class="form-control" placeholder="First Name"></div>
                        <div class="col-md-6"><input id="driverapp-LastTB" name="driverapp-LastTB" type="text" class="form-control" placeholder="Last Name"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><input id="driverapp-PhoneTB" name="driverapp-PhoneTB" type="tel" class="form-control" placeholder="Phone"></div>
                        <div class="col-md-6"><input id="driverapp-EmailTB" name="driverapp-EmailTB" type="email" class="form-control" placeholder="Email"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><input id="driverapp-DobTB" name="driverapp-DobTB" type="text" class="form-control" placeholder="Date of Birth (mm/dd/yy)"></div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                        <div class="col-md-6"><input id="driverapp-AddTB" name="driverapp-AddressTB" type="text" class="form-control" placeholder="Address"></div>
                        <div class="col-md-6"><input id="driverapp-CityTB" name="driverapp-CityTB" type="text" class="form-control" placeholder="City"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><input id="driverapp-StateTB" name="driverapp-StateTB" type="text" class="form-control" placeholder="State"></div>
                        <div class="col-md-6"><input id="driverapp-ZipTB" name="driverapp-ZipTB" type="text" class="form-control" placeholder="Zip"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><label for="exampleInputMessage1" style="color:#808080;">Driving Info</label></div>
                        <div class="col-md-6"><input id="driverapp-CDLTB" name="driverapp-CDLTB" type="text" class="form-control" placeholder="CDL Number"></div>
                        <div class="col-md-6"><input id="driverapp-CDLStateTB" name="driverapp-CDLStateTB" type="text" class="form-control" placeholder="CDL State"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group bootstrap-select">
                                <select id="driverapp-ExperienceDD" name="driverapp-ExperienceDD" class="selectpicker form-control ExperienceDD DDtext" title="Choose one of the following..." tabindex="-98">
                                    <option class="bs-title-option" value="">Years of Experience?</option>
                                    <option>Less than 2 years</option>
                                    <option>More than 2 years</option>
                                    <option>More than 5 years</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group bootstrap-select">
                                <select id="driverapp-CleanMvrDD" name="driverapp-CleanMvrDD" class="selectpicker form-control DDtext" title="Choose one of the following..." tabindex="-98">
                                    <option class="bs-title-option" value="">Clean Motor Vehicle Record?</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                    <option>I don't know</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group bootstrap-select">
                                <select id="driverapp-DrugTestDD" name="driverapp-DrugTestDD" class="selectpicker form-control ExperienceDD DDtext" title="Choose one of the following..." tabindex="-98">
                                    <option class="bs-title-option" value="">Can you pass a Drug Test?</option>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            &nbsp;
                        </div>
                    </div>
                    <div class="custom-modal-footer">
                        <button type="submit" name="submit" class="btn btn-outline-secondary driverapp-submit">Submit My Info</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="messageSending_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="sending-title" class="modal-title text-center"></h4>
            </div>
            <div class="modal-body" style="min-height:200px">
                <div class="col-md-12">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div id="sending-message"></div>
                        <div id="sending-status" class="text-center"></div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="col-md-12">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div id="close-sending-modal" class="text-center padding-top-md  hide">
                            <button id="btn-close-sending-modal" type="button" class="btn btn-danger">Close This Window</button>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>

            </div>
            <div class="modal-footer hide">
                &nbsp;
            </div>
        </div>
    </div>
</div>

