@{

    var fuel = ViewData["HomepageStats_FuelDollarsOwed"].ToString();

}


<span type="button" class="btn btn-lg btn-fuel-due" style="margin-bottom: 4px">
    <i class="fa-loads-due"></i>
    <span class="loads-due-value dtl_number">Fuel Due - $@fuel</span>
</span>



<script type="text/javascript">



</script>





