<aside id="left-panel" class="left-panel" style="padding-left: 5px; padding-right: 10px;">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <span class="smallmaxxlogo"></span>
            <span class="smallmlogo" style="display: none;"></span>
        </div>
        <li id="main-menu" class="main-menu collapse navbar-collapse">

            <ul class="nav navbar-nav">

                <!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-truck"></i>Loads</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus"></i><a class="Menu-Load-Add add-load-btn">Add Load</a></li>
                        <li><i class="fa fa-pencil"></i><a class="Menu-Load-Edit edit-load-btn">Edit Load</a></li>
                        <li><i class="fa fa-share-square-o"></i><a class="Menu-Load-Status update-status-btn">Change Load Status</a></li>
                        <li><i class="fa fa-close"></i><a class="Menu-Load-Delete delete-load-btn">Delete Load</a></li>
                    </ul>
                </li>
                @{
                    if (Session["LogUserPR_IND"].ToString() == "1")
                    {
                        <li>
                            <a href="../Work/payroll"> <i class="menu-icon fa fa-users"></i>Payroll</a>
                        </li>
                    }
                }
                @{
                    if (Session["LogUserExp_IND"].ToString() == "1")
                    {
                        <li>
                            <a href="../Work/production"> <i class="menu-icon fa fa-bar-chart"></i>Production</a>
                        </li>
                        <li>
                            <a href="../Work/expenses"> <i class="menu-icon fa fa-usd"></i>Expenses</a>
                        </li>
                    }}
                @{
                    if (Session["LogUserPNL_IND"].ToString() == "1")
                    {
                        <li>
                            <a href="../Work/financials"> <i class="menu-icon fa fa-file-text-o"></i>P&L</a>
                        </li>
                    }}

                @{
                    if (Session["LogAdminAccess"].ToString() == "Admin")
                    {
                        <li>
                            <a href="../Work/admin"> <i class="menu-icon fa fa-address-book-o"></i>Admin</a>
                        </li>
                    }
                }

            </ul>
            <!-- /.navbar-collapse -->
        </li>
    </nav>
</aside><!-- /#left-panel -->