@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using MaxxExpress.Areas.WorkPage.Models.Tools;

@model MaxxExpress.Areas.WorkPage.Models.WorkViewModel

@{

    ViewBag.Title = "Maxx Express - Production Dashboard";
}

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="../Areas/WorkPage/js/store.everything.min.js"></script>
<script src="../Areas/WorkPage/js/modal-popover/prettify.js"></script>
<script src="../Areas/WorkPage/js/modal-popover/bootstrap.js"></script>
<script src="../Areas/WorkPage/js/modal-popover/bootstrap-modal-popover.js"></script>
<style type="text/css">
    .modal-open {overflow: auto;}   
</style>

<!-- Begin Left Panel -->
@{
    Html.RenderPartial("_ProductionAreaLeft_Admin");
}
<!-- End Left Panel -->
<!-- Begin Right Panel -->
@{
    Html.RenderPartial("_ProductionAreaRight_Admin");
}
<!-- EndRight Panel -->
<!--Start Show Session Expire Warning Popup here -->

<div class="modal fade" id="session-expire-warning-modal" aria-hidden="true" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Session Expired Message</h4>
            </div>
            <div class="modal-body">
                Your session has expired please log back in.
            </div>
            <div class="modal-footer">
                @*<button id="btn-LogoutNow" type="button" class="btn btn-outline-danger" style="padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; ">Logout now</button>*@

            </div>
        </div>
    </div>
</div>


<!--End Show Session Expire Warning Popup here -->